* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dark-maroon: #37151E;
  --maroon: #5C2331;
  --powder: #F2F5F2;
  --mint: #C1D7C8;
  --spruce: #092327;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--powder);
  color: var(--spruce);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* header styles start */
header {
  padding: 10px;
  color: var(--mint);
  background-color: var(--maroon);
  background-size: cover;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 5px;
}

nav li {
  margin: 5px;
}

nav a {
  color: var(--mint);
  text-decoration: none;
}
/* header styles end */

/* footer styles start */
footer {
  background-color: var(--maroon);
  background-size: cover;
  padding: 15px;
}
/* footer styles end */

/* main styles start */
/* main styles end */

/* media queries start */