* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "MoonFlower";
  src: url("./fonts/Moon-Flower/MoonFlowerBold-MVppp.ttf");
}

:root {
  --dark-maroon: #37151e;
  --maroon: #5c2331;
  --powder: #f2f5f2;
  --mint: #c1d7c8;
  --spruce: #092327;
  --smoothen: 5px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--powder);
  color: var(--spruce);
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--spruce);
}

.moon-flower {
  font-family: "MoonFlower";
}

.frosted {
  border-radius: var(--smoothen);
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 1px 12px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

/* header styles start */
header {
  padding: 10px;
  color: var(--spruce);
  background-color: var(--mint);
  background-size: cover;
  position: -webkit-sticky;
  top: 0;
  z-index: 9999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  padding: 5vw;
  background-image: url("./assets/images/hero4.JPG");
  background-size: cover;
  background-position: center top;
}

.hero-content{
  width: 85vw;
  padding: 10px;
}

h1 {
  margin: 0 0 0 10px;
  padding: 5px;
  color: var(--spruce);
  font-size: 9vw;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin: 5px;
}

nav li {
  margin: 5px;
}

nav a {
  font-size: 5.4vw;
  padding: 5px;
}

nav a:hover {
  color: var(--maroon);
}

.nav-focus {
  color: var(--maroon);
}
/* header styles end */

/* footer styles start */
footer {
  background-color: var(--mint);
  background-size: cover;
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 10px;
  color: var(--powder); 
  filter: opacity(0.7) drop-shadow(0 0 0 var(--spruce));
}
/* footer styles end */

/* main styles start */
main {
  flex: 1;
}

main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  margin: 10px;
  font-size: 7.5vw;
}

main img {
  margin: 20px;
  margin-bottom: 0;
  width: 70%;
  border-radius: var(--smoothen);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-container p {
  margin: 25px;
  margin-top: 0;
}

/* Background images are styled in the Project component. */
.project-card {
  padding: 10px;
  margin: 15px;
  margin-top: 0;
  background-size: cover;
  background-position: left top;
  border-radius: var(--smoothen);
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
  margin: 0 0 0 0;
}

h3 {
  font-size: 27px;
}

h4 {
  font-size: 20px;
}

.github-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.github-link p {
  font-size: 18px;
  color: var(--mint);
  background-color: var(--maroon);
  border-radius: var(--smoothen);
  box-shadow: 3px 3px var(--dark-maroon);
  transform: translate(-1px, -1px);
  padding: 10px;
  margin: 5px;
  width: 70px;
  height: 70px;
}

.github-link p:hover {
  background-color: var(--spruce);
  box-shadow: 2px 2px black;
  transform: translate(0, 0);
}

form {
  background-color: var(--maroon);
  width: 80%;
  color: var(--mint);
  margin: 0 0 20px 0;
  padding: 10px;
  border-radius: var(--smoothen);
}

form div {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

label {
  font-size: 20px;
}

input,
textarea {
  border: none;
  border-radius: var(--smoothen);
  background-color: var(--powder);
  padding: 5px;
}

button {
  border: none;
  border-radius: var(--smoothen);
  background-color: var(--mint);
  color: var(--spruce);
  box-shadow: 3px 3px var(--spruce);
  transform: translate(-1px, -1px);
  padding: 5px;
  margin: 10px;
  font-size: 20px;
}

button:hover {
  background-color: var(--powder);
  /* box-shadow: 2px 2px var(--mint); */
  transform: translate(0, 0);
}
/* main styles end */

/* media queries start */
